@import "https://fonts.googleapis.com/css2?family=Roboto&display=swap";
@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap";
:root {
    --color-banner: #FBDFDB;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

nav {
    padding-top: 36.1px;
    display: flex;
    padding-bottom: 36px;
    justify-content: center;
    padding-right: 548px;
    position: static;
}

nav .menu {
    padding-left: 121.4px;
}

nav .menu a {
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    margin-left: 30px;
    color: #111111;
}

footer .footer {
    margin-top: 50px;
    height: 62px;
    background-color: #EEEEEE;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .footer a {
    color: #999999;
    font-size: 14px;
    line-height: 16px;
}

.sobre {
    font-size: 18px;
    line-height: 28px;
    display: flex;
    flex-direction: column;
    width: 940px;
    margin: 0 auto;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
}

.sobre .topo h3 {
    padding-top: 14px;
    padding-bottom: 20px;
    font-size: 24px;
}

.sobre .meio h4 {
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 20px;
}

.sobre .final h4 {
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 20px;
}

.sobre .topo a {
    text-decoration: none;
    color: #444444;
}

.sobre .meio a {
    text-decoration: none;
    color: #444444;
}

.sobre .final a {
    text-decoration: none;
    color: #444444;
}

.sobre .final {
    padding-bottom: 50px;
}