{% extends "layout.njk" %}
{% block head %}
    <link rel="stylesheet" href="/style.css">
        <nav>
            <div class="logo">
                <a href="/">
                    <img src="/logo.png" alt="Logotipo"></a>
                </div>
                <div class="menu">
                    <a href="/sobre" id="sobre">Sobre</a>
                    <a href="/receitas">Receitas</a>
                </div>
            </nav>
        {% endblock %}
        {% block content %}
            <header>
                <div class="banner">
                    <div class="texto">
                        <h1>As melhores receitas</h1>
                        <a>Aprenda a construir os melhores pratos por receitas criadas por profissionais do mundo inteiro</a>
                    </div>
                    <div class="imagem">
                        <img src="chef.png" alt=""></div>
                    </div>
                </header>
                <div class="acesso_text">
                    <h2>Mais acessadas</h2>
                </div>
                <section class="recipes">
                    {% for item in items %}
                        <div class="card" onclick="click_card()">
                            <img src="{{ item.image }}">
                                <div class="card__title">
                                    <p>{{ item.title }}</p>
                                </div>
                                <div class="card__author">
                                    <p>{{ item.author }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </section>
                {% endblock %}
                {% block footer %}
                    <script src="/cards.js"></script>
                {% endblock %}