<html>
    <head>
        <title>Foodfy</title>
        <link rel="icon" href="fav.png" type="image/x-icon">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-DVKL5XX6ZZ"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());
            gtag('config', 'G-DVKL5XX6ZZ');
        </script>
        {% block head %}{% endblock %}
    </head>
    <body>
        <section>
            <nav>
                <div class="logo">
                    <a href="/"><img src="logo.png" alt="Logotipo"> </a>
                </div>
                <div class="menu">
                    <a href="/sobre" id="sobre">Sobre</a>
                    <a href="/receitas">Receitas</a>
                </div>
            </nav>
            {% block content %}{% endblock %}
        </section>
        <footer>
            <div class="footer">
                <a>Todos direitos reservados, receitas Foodfy.</a>
            </div>
        </footer>
        <script src="script.js"></script>
    </body>
</html>