{% extends "layout.njk" %}
{% block head %}
    <link rel="stylesheet" href="/style_receitas.css">
    {% endblock %}
    {% block content %}
        <nav>
            <div class="logo">
                <a href="/">
                    <img src="/logo.png" alt="Logotipo"></a>
                </div>
                <div class="menu">
                    <a href="/sobre" id="sobre">Sobre</a>
                    <a href="/receitas">Receitas</a>
                </div>
            </nav>
            <section class="recipes">
                {% for item in items %}
                    <div class="card" onclick="click_card()">
                        <img src="{{ item.image }}">
                        <div class="card__title">
                            <p>{{ item.title }}</p>
                        </div>
                        <div class="card__author">
                            <p>{{ item.author }}</p>
                        </div>
                    </div>
                {% endfor %}
            </section>
            {% endblock %}
            {% block footer %}
                <script src="/cards.js"></script>
            {% endblock %}