{% extends "layout.njk" %}

<head>
    {% block head %}
        <link rel="stylesheet" href="style_receitas.css">
    {% endblock %}
</head>

{% block content %}

    <section class="recipes">

        <div class="card">
            <img src="burger.png">
            <div class="card__title">
                <p>Triplo bacon burguer</p>
            </div>
            <div class="card__author">
                <p>por Jorge Relato</p>
            </div>
        </div>

        <div class="card">
            <img src="pizza.png">
            <div class="card__title">
                <p>Pizza 4 estações</p>
            </div>
            <div class="card__author">
                <p>por Fabiana Melo</p>
            </div>
        </div>

        <div class="card">
            <img src="espaguete.png">
            <div class="card__title">
                <p>Espaguete ao alho</p>
            </div>
            <div class="card__author">
                <p>por Júlia Kinoto</p>
            </div>
        </div>

        <div class="card">
            <img src="lasanha.png">
            <div class="card__title">
                <p>Lasanha mac n' cheese</p>
            </div>
            <div class="card__author">
                <p>por Juliano Vieira</p>
            </div>
        </div>

        <div class="card">
            <img src="doce.png">
            <div class="card__title">
                <p>Docinhos pão-do-céu</p>
            </div>
            <div class="card__author">
                <p>por Ricardo Golvea</p>
            </div>
        </div>

        <div class="card">
            <img src="asinhas.png">
            <div class="card__title">
                <p>Asinhas de frango ao barbecue</p>
            </div>
            <div class="card__author">
                <p>por Vania Steroski</p>
            </div>
        </div>

        <div class="card">
            <img src="burger.png">
            <div class="card__title">
                <p>Triplo bacon burguer</p>
            </div>
            <div class="card__author">
                <p>por Jorge Relato</p>
            </div>
        </div>

        <div class="card">
            <img src="pizza.png">
            <div class="card__title">
                <p>Pizza 4 estações</p>
            </div>
            <div class="card__author">
                <p>por Fabiana Melo</p>
            </div>
        </div>

        <div class="card">
            <img src="espaguete.png">
            <div class="card__title">
                <p>Espaguete ao alho</p>
            </div>
            <div class="card__author">
                <p>por Júlia Kinoto</p>
            </div>
        </div>

        <div class="card">
            <img src="lasanha.png">
            <div class="card__title">
                <p>Lasanha mac n' cheese</p>
            </div>
            <div class="card__author">
                <p>por Juliano Vieira</p>
            </div>
        </div>

        <div class="card">
            <img src="doce.png">
            <div class="card__title">
                <p>Docinhos pão-do-céu</p>
            </div>
            <div class="card__author">
                <p>por Ricardo Golvea</p>
            </div>
        </div>

        <div class="card">
            <img src="asinhas.png">
            <div class="card__title">
                <p>Asinhas de frango ao barbecue</p>
            </div>
            <div class="card__author">
                <p>por Vania Steroski</p>
            </div>
        </div>

    </section>

    <div class="modalOverlay">
        <div class="modal">
            <img src="" alt="">

            <h1></h1>
            <h2></h2>

            <p>Fechar modal</p>
        </div>
    </div>

{% endblock %}
