{% extends "layout.njk" %}
{% block head %}
    <link rel="stylesheet" href="/style_sobre.css">
{% endblock %}
{% block content %}
    <nav>
        <div class="logo">
            <a href="/"><img src="/logo.png" alt="Logotipo">
            </a>
        </div>
        <div class="menu">
            <a href="/sobre" id="sobre">Sobre</a>
            <a href="/receitas">Receitas</a>
        </div>
    </nav>
    <div class="sobre">
        <div>
            <p id="first-title">Sobre o Foodfy</p>
            <a id="sobre-description">
                Suspendisse placerat neque neque. Morbi dictum nulla non sapien rhoncus, et mattis erat commodo. Aliquam vel lacus a
                justo mollis luctus. Proin vel auctor eros, sed eleifend nunc. Curabitur eget tincidunt risus. Mauris malesuada
                facilisis magna, vitae volutpat sapien tristique eu. Morbi metus nunc, interdum in erat placerat, aliquam iaculis massa.
                Duis vulputate varius justo pharetra maximus. In vehicula enim nec nibh porta tincidunt. Vestibulum at ultrices turpis,
                non dictum metus. Vivamus ligula ex, semper vitae eros ut, euismod convallis augue.
                <br> <br> Fusce nec pulvinar nunc. Duis porttitor tincidunt accumsan. Quisque pulvinar mollis ipsum ut accumsan. Proin
                ligula lectus, rutrum vel nisl quis, efficitur porttitor nisl. Morbi ut accumsan felis, eu ultrices lacus. Integer in
                tincidunt arcu, et posuere ligula. Morbi cursus facilisis feugiat. Praesent euismod nec nisl at accumsan. Donec libero
                neque, vulputate semper orci et, malesuada sodales eros. Nunc ut nulla faucibus enim ultricies euismod.
            </a>
        </div>
        <div>
            <p class="sobre-title">Como tudo começou...</p>
            <a id="sobre-description">
                Suspendisse placerat neque neque. Morbi dictum nulla non sapien rhoncus, et mattis erat commodo. Aliquam vel lacus a
                justo mollis luctus. Proin vel auctor eros, sed eleifend nunc. Curabitur eget tincidunt risus. Mauris malesuada
                facilisis magna, vitae volutpat sapien tristique eu. Morbi metus nunc, interdum in erat placerat, aliquam iaculis massa.
                Duis vulputate varius justo pharetra maximus. In vehicula enim nec nibh porta tincidunt. Vestibulum at ultrices turpis,
                non dictum metus. Vivamus ligula ex, semper vitae eros ut, euismod convallis augue.
                <br> <br> Fusce nec pulvinar nunc. Duis porttitor tincidunt accumsan. Quisque pulvinar mollis ipsum ut accumsan. Proin
                ligula lectus, rutrum vel nisl quis, efficitur porttitor nisl. Morbi ut accumsan felis, eu ultrices lacus. Integer in
                tincidunt arcu, et posuere ligula. Morbi cursus facilisis feugiat. Praesent euismod nec nisl at accumsan. Donec libero
                neque, vulputate semper orci et, malesuada sodales eros. Nunc ut nulla faucibus enim ultricies euismod.
            </a>
        </div>
        <div>
            <p class="sobre-title">Nossas receitas</p>
            <a id="sobre-description">Fusce nec pulvinar nunc. Duis porttitor tincidunt accumsan. Quisque pulvinar mollis ipsum ut
                accumsan. Proin ligula lectus, rutrum vel nisl quis, efficitur porttitor nisl. Morbi ut accumsan felis, eu ultrices
                lacus. Integer in tincidunt arcu, et posuere ligula. Morbi cursus facilisis feugiat. Praesent euismod nec nisl at
                accumsan. Donec libero neque, vulputate semper orci et, malesuada sodales eros. Nunc ut nulla faucibus enim ultricies
                euismod.</a>
        </div>
    </div>
{% endblock %}